<h2>{{list.name}}</h2>

<p>{{list.preamble}}</p>

{% for paper in list.papers %}
    {% include paper.html paper=paper %}
{% endfor %}

{% for category in list.categories %}

    <h3><a id="{{category.anchor}}"></a>{{category.name}}</h3>
    <p>{{category.preamble}}</p>

    {% for paper in category.papers %}
        {% include paper.html paper=paper %}
    {% endfor %}

    {% for section in category.sections %}
        <h4>{{section.name}}</h4>
        <p>{{section.preamble}}</p>
        {% for paper in section.papers %}
            {% include paper.html paper=paper %}
        {% endfor %}
    {% endfor %}

{% endfor %}