<div class="software">
    <span class="title"><a href="{{sdr.url}}" target="_blank">{{sdr.title}}</a></span>
    <span class="meta">Manufacturer: {{sdr.contributors}}</span>
    <span class="meta">Number of TX/RX channels: {{sdr.channel}}</span>
    <span class="meta">Frequency range: {{sdr.frequency_range}}</span>
    <span class="meta">Instantaneous bandwidth (up to): {{sdr.bandwidth}}</span>
    <span class="meta">Supported RAN software: {{sdr.ran_software}}</span>
    <span class="meta">Target application: {{sdr.target}}</span>
    <span class="desc">{{sdr.desc}}</span>
</div>
