<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>

        {% include authors.html %}

        {% include nav.html %}

      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <div class="credits_footer"><p><a href="https://www.northeastern.edu/wiot/" target=_blank><img src="/assets/img/NU_IoT_NLuxPlus_BRBB.png" alt="WIOT"></a>
        <small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist" target="_blank">orderedlist</a>. Inspired by <a href="https://programmabledataplane.review" target="_blank">this website.</a></small></p></div>
      </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>

    <!-- Insights analytics -->
    <script src="https://getinsights.io/js/insights.js"></script>
    <script>
      insights.init('PhuATQmRG8mXQbpj');
      insights.trackPages();
    </script>

  </body>
</html>
